h1 {
    color: #a511c6;
    text-transform:capitalize;
    text-align:center;
}

.consignes {
    text-align: center;
    color: brown;
}


#cadre {
    width: 1200px;
    height: 600px;
    border: 4px black solid;
    background-color: silver;
    position: fixed;
    top: 150px;
    left: 175px;
}

#balle {
    position: absolute;
    width: 100px;
    height: 100px;
}

.mobile { background-color: red; }

.immobile {
    background-color: yellow;
    border: 8px black dashed;
}
